/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    background-color: black;
}


/* CONTAINER FOR H2 NAME AND NAV LINKS */
nav {
	display: flex;
	color: white;
	font-size: 1em;
	justify-content: flex-end;
	position: relative;
	margin-right: 80px;
}
 
/* H2 PAULINE HAREN */
nav h2 {
	margin: 25px 80px 20px;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 3em;
	top: 0;
	left: 0;
}

/* NAV LINKS */
nav a {
	color: white;
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 1em;
	text-decoration: none;
	align-content: space-around;
	margin: 2em 0 0;
	border: 3px solid white;
	padding: 10px;
}

.pauline {
	display: flex;	
    justify-content: center;
	align-items: center;
	padding: 100px;
	background-color: white;
	margin:10px 80px 20px 80px;
	flex-wrap: wrap;
	
}

.pauline h1 {
	justify-content: center;
	color: black;
	background-color: white;
 	font-family: 'M PLUS 1p', sans-serif;
	font-size: 45px;
	font-weight: bolder;
	margin-bottom: 10px;
}

.pauline .break {
	flex-basis: 100%;
	height: 0;
  }

.pauline .plink {
	display: inline-block;
	color: black;
	background-color: white;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	text-decoration: none;
	justify-content: center;
}

.prof {
	color: white;
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 25px;
	font-weight: normal;
	text-align: center;
}

/* CONTAINER FOR GALLERY */
.gallery {
	display: flex;
	flex-wrap: wrap;
}

/* IMAGES IN GALLERY */
.gal {
	flex-grow: 1;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 80px;
	width: 25%;
	height: 200px;

	.pers {
		color: white;
		font-family: 'M PLUS 1p', sans-serif;
		font-size: 25px;
		font-weight: normal;
		text-align: center;
	}
}
/* CONTAINER FOR FOOTER */
.footer_contact {
	margin: 1em 0 0;
	display: flex;
	justify-content: center;
	background-color: white;	
}

/* LINK TO CONTACT */
.footer .contact {
	color: white;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 40px;
	text-decoration: none;
	align-content: space-around;
	margin: 2em 0 2em;
	border: 5px solid white;
	padding: 15px;

.footer .social {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

}.footer .social .facebook {
	margin-left: 46%;
}

